.Presentation {
    width: 100vw;
    margin: 50% 0 0 0;
}

@media (min-width: 1024px){
    .Presentation {
        width: fit-content;
        display: flex;
        flex-flow: row;
        justify-content: center;
        margin: 25vh 0 0 10vw;
        height: 80%; 
        background-color: #163436;
        box-shadow: 2px 2px 8px black;
        padding: 0 0 30px 30px;      
    }

    .MediaIcons {
        display: flex;
        flex-flow: column;
        width: fit-content;
        margin: 4vh 0 0 2vw;
        padding: 0 2vw 0 0;
    }

    .Presentation i {
        font-size: 5vw;
        text-shadow: 2px 2px 8px black;
        color: #728687;
        cursor: pointer;
        margin: 0 0 0 0;
    }
}

@media (max-width: 1200px){
    .Presentation {
        margin: inherit auto;
    }
}

