@keyframes focus{
    to{color: rgba(255, 255, 255, 0.8)}
}

.Presentation {
    width: 100vw;
    margin: 50% 0 0 0;
}

.Presentation i {
    font-size: 18vw;
    color: #728687;
    margin: 0 5vw;
    
}

@media (min-width: 1025px){
    .Presentation {
        width: fit-content;
        display: flex;
        flex-flow: row;
        justify-content: center;
        margin: 20vh 0 0 11vw;
        height: 80%; 
        background-color: #163436;
        box-shadow: 2px 2px 8px black;
        padding: 15px 30px 30px 30px;      
    }

    .Presentation i {        
        text-shadow: 2px 2px 8px black;
        font-size: 5vw;
        cursor: pointer;
        margin: 5px;
        padding: 0;
    }

    .Presentation i:hover{
        animation-name: focus;
        animation-duration: 0.1s;
        animation-fill-mode: forwards;
    }
}


@media (max-width: 1200px){
    .Presentation {
        margin: 15vh auto;
    }
    

}

