@keyframes fadeIn{
    from{opacity: 0; }
    to{ opacity: 1; }
}

@keyframes fadeOut{
    from{opacity: 1; height: fit-content;}
    to{ opacity: 0; height: 0;}
}

.Drawer {    
    box-sizing: border-box;
    color: #728687;
    background-color: rgba(0,0,0,0.25);
    height: 0px;
    overflow: hidden;
}

.DrawerOpen {
    height: fit-content;
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.DrawerClosed {  
    animation-name: fadeOut;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    
}

.Drawer p {
    margin: 0 1rem 1rem 1rem;
}