

.Logo{  
    text-align: start;
    font-family: 'Press Start 2P', cursive;
    margin: 3rem 0 0 1rem;
    color: #728687; 
    
}

.Logo h1 {
    margin: auto;
    opacity: 0.8;
    font-size: 3rem;
    text-shadow: 1px 1px 0 black, 2px 2px 0 black;
    line-height: 4rem;
    text-transform: uppercase;    
}

.Logo p {
    text-shadow: 1px 1px 0 black, 2px 2px 0 black;
    font-size: 1.3rem;
    font-stretch: expanded;
    margin: 0 0 0 0rem;
}

@media (min-width: 1024px){
    .Logo {
        
    }

    .Logo h1 {
        line-height: 7.5rem;
        font-size: 7rem;
    }

    .Logo p {
        font-size: 3rem;
    }
}