.Navigation {
    position: fixed;
    z-index: 3;
    top: 0;
    background: #163436;
    width: 100vw;
    height: 70px;
    box-shadow: 2px 2px 8px black;
}

.Navigation h2 {
    position: absolute;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    margin: 15px 0 0 30px;
    text-shadow: 2px 2px 8px black;
    color: #728687;
}

@media (min-width: 1025px){
    .Navigation {
        position: fixed;
    }    
}