.Contact {
    margin-top: 75px;
    text-align: center;
    color: #163436;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px #728687;
    font-weight: bolder;
}

.Contact h1 {
    font-family: 'Press Start 2P', cursive;
    text-shadow: 2px 2px 8px black;
    font-size: 1.5rem;
    color: #728687;
}

.wrapper {
    box-shadow: 1px 1px 0 black, 2px 2px 0 black;
    margin: 0;
    margin-bottom: 1vh;
    width: 100vw;
    height: fit-content;
    background-color: rgba(0,0,0,0.4);
    padding: 5px 0px 5px 0px;
}

.FormWrapper {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 0 auto;
}

.Contact textarea {
    height: 50vh;

}

.Contact textarea,
.Contact input {
    width: 91%;
    margin: auto auto 5px auto;
    color: #728687;
    text-shadow: 2px 2px 8px black;
    box-shadow: 2px 2px 3px black;
    padding: 5px;
    border: 3px solid #718586;
    border-right: 0;
    border-left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 1.9rem;
}

.Contact button {
    width: 100%;
    margin: 0 auto 0 auto;
    height: 50px;
    font-size: 1.5rem; 
    background-color: #718586;   
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.4);
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Press Start 2P', cursive;
}

@media (min-width:1025px){
    .FormWrapper {
        width: 100%;
    }

    .wrapper {
        margin: 0 auto 10px auto;
        margin-bottom: 10px;
        margin-top: 0;
        text-align: center;
        width: 92.5%;
    }

    .Contact {
        margin-top: 10px;
        color: #728687;
        text-shadow: 1px 1px 1px transparent;
    }

    .Contact textarea,
    .Contact input {
        border: 3px solid #718586;
    }

    .Contact button {
        width: 92.8%
    }
}