.MediaIcons {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color: #163436;
    height: fit-content;
    margin: 1.5vh 0;
    padding: 5px 0;
    width: 100vw;
    box-shadow: 2px 2px 8px black;
}

.MediaIcons i {
    font-size: 12vw;
    color: #728687;
    margin: 0 5vw;
    
}

@media (min-width: 1025px) {

    .MediaIcons {
        position: relative;
        display: flex;
        flex-flow: column;
        width: fit-content;
        margin: 2vh 0 0 2vw;
        padding: 5px;
        border-radius: 7px;
    }
}

@media (max-width: 1025px) {

    .MediaIcons {
        position: sticky;
        bottom: 0px;
    }
}