@media (min-width: 1025px){
    .LogIn {
        text-align: center;
        
    }

    .LogIn h1{
        font-family: 'Press Start 2P', cursive;
        text-shadow: 1px 1px 0 black, 2px 2px 0 black;
        color: #728687;
    }

    .LogIn div {
        margin: auto;
        display: flex;
        flex-flow: column;
        justify-content: center; 
        width: 20%;
    }
}