body {
  margin: 0;
  padding: 0;
  max-width: 90vw;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3c5758;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}
