@keyframes slideIn{
    to{left: 0;}
}

@keyframes slideOut{
    to{left: -1000px}
}

.SideDrawer {
    position: fixed;
    left: -1000px;
    width: 70vw;
    height: 100vh;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.3);
    animation-name: slideIn;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.MenuClosed{
    position: fixed;
    left: 0px;
    width: 70vw;
    height: 100vh;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.3);
    animation-name: slideOut;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}